<a href='/Support'>Support</a><br/>

<details>
  <summary>
    <a href='/FAQ'>FAQ</a>
  </summary>
  <small>
    <a href='/FAQ/Common-Error-Messages'>Common Error Messages</a><br/>
    <a href='/FAQ/History'>History</a><br/>
    <a href='/FAQ/Implemented-Standards'>Implemented Standards</a><br/>
    <a href='/FAQ/Kernel-Support'>Kernel Support</a><br/>
  </small>
</details>

<details>
  <summary>
    HOWTO
  </summary>
  <small>
    <a href='/HOWTO/Additional-ipsec.conf-documentation'>Additional ipsec.conf documentation</a><br/>
    <a href='/HOWTO/AWS-Mesh'>AWS Mesh</a><br/>
    <a href='/HOWTO/brendans-Road-Warrior-Setup-at-Home'>brendans Road Warrior Setup at Home</a><br/>
    <a href='/HOWTO/Configuration-examples'>Configuration examples</a><br/>
    <a href='/HOWTO/Confuse-!?@:-github-wiki'>Confuse !?@: github wiki</a><br/>
    <a href='/HOWTO/Enterprise-cloud-encryption'>Enterprise cloud encryption</a><br/>
    <a href='/HOWTO/Entropy-matters'>Entropy matters</a><br/>
    <a href='/HOWTO/EoIP-shared-ethernet-LAN-using-IPsec'>EoIP shared ethernet LAN using IPsec</a><br/>
    <a href='/HOWTO/High-Availability-Fallover-VPN-in-AWS'>High Availability Fallover VPN in AWS</a><br/>
    <a href='/HOWTO/Host-to-host-VPN'>Host to host VPN</a><br/>
    <a href='/HOWTO/Host-to-host-VPN-with-PSK'>Host to host VPN with PSK</a><br/>
    <a href='/HOWTO/Libreswan-as-client-to-a-Cisco-ASA-or-VPN3000-server'>Libreswan as client to a Cisco ASA or VPN3000 server</a><br/>
    <a href='/HOWTO/Microsoft-Azure-configuration'>Microsoft Azure configuration</a><br/>
    <a href='/HOWTO/Migrate-from-IKEv1-DPD-to-IKEv2-LIVENESS'>Migrate from IKEv1 DPD to IKEv2 LIVENESS</a><br/>
    <a href='/HOWTO/Opportunistic-IPsec'>Opportunistic IPsec</a><br/>
    <a href='/HOWTO/Opportunistic-IPsec-using-LetsEncrypt'>Opportunistic IPsec using LetsEncrypt</a><br/>
    <a href='/HOWTO/Pluto-and-DNSSEC'>Pluto and DNSSEC</a><br/>
    <a href='/HOWTO/Read-status-output'>Read status output</a><br/>
    <a href='/HOWTO/Route-based-VPN'>Route based VPN</a><br/>
    <a href='/HOWTO/SElinux-and-Labeled-IPsec-VPN'>SElinux and Labeled IPsec VPN</a><br/>
    <a href='/HOWTO/Subnet-extrusion'>Subnet extrusion</a><br/>
    <a href='/HOWTO/Subnet-to-subnet-using-NAT'>Subnet to subnet using NAT</a><br/>
    <a href='/HOWTO/Subnet-to-subnet-VPN'>Subnet to subnet VPN</a><br/>
    <a href='/HOWTO/Subnet-to-subnet-VPN-with-PSK'>Subnet to subnet VPN with PSK</a><br/>
    <a href='/HOWTO/Unauthenticated-Opportunistic-IPsec'>Unauthenticated Opportunistic IPsec</a><br/>
    <a href='/HOWTO/Using-Apache-to-serve-PKCS'>Using Apache to serve PKCS</a><br/>
    <a href='/HOWTO/Using-NSS-Hardware-Tokens'>Using NSS Hardware Tokens</a><br/>
    <a href='/HOWTO/Using-NSS-with-libreswan'>Using NSS with libreswan</a><br/>
    <a href='/HOWTO/VPN-server-for-remote-clients-using-IKEv2'>VPN server for remote clients using IKEv2</a><br/>
    <a href='/HOWTO/VPN-server-for-remote-clients-using-IKEv2-split-VPN'>VPN server for remote clients using IKEv2 split VPN</a><br/>
  </small>
</details>

<details>
  <summary>
    GSoC 2027
  </summary>
  <small>
    <a href='/GSoC-2027/Code-Project-Ideas-DRAFT'>Code Project Ideas DRAFT</a><br/>
    <a href='/GSoC-2027/Contributor-Guidance-DRAFT'>Contributor Guidance DRAFT</a><br/>
  </small>
</details>

<details>
  <summary>
    <a href='/Completed-Projects'>Completed Projects</a>
  </summary>
  <small>
    <a href='/Completed-Projects/2026-RFC-9593---Announcing-Supported-Authentication-Methods-in-IKEv2'>2026 RFC 9593   Announcing Supported Authentication Methods in IKEv2</a><br/>
    <a href='/Completed-Projects/2026-Improve-the-ACQUIRE-to-IKE-policy-lookup'>2026 Improve the ACQUIRE to IKE policy lookup</a><br/>
    <a href='/Completed-Projects/2026-Add-HOST-TO-HOST-Support-on-BSD'>2026 Add HOST TO HOST Support on BSD</a><br/>
    <a href='/Completed-Projects/2021-RFC-8420---Add-EdDSA-Signature-Authentication-Support-to-IKEv2'>2021 RFC 8420   Add EdDSA Signature Authentication Support to IKEv2</a><br/>
    <a href='/Completed-Projects/2020-Session-Resumption'>2020 Session Resumption</a><br/>
    <a href='/Completed-Projects/2020-IKEv2-Interop-testing-with-OpenBSD'>2020 IKEv2 Interop testing with OpenBSD</a><br/>
    <a href='/Completed-Projects/2020-IKE-Intermediate-Exchange'>2020 IKE Intermediate Exchange</a><br/>
    <a href='/Completed-Projects/2019-Libreswan-Opportunistic-IPsec-using-LetsEncrypt'>2019 Libreswan Opportunistic IPsec using LetsEncrypt</a><br/>
    <a href='/Completed-Projects/2018-RSA-PSS-Support-in-compliance-with-RFC-7427-and-RFC-8247'>2018 RSA PSS Support in compliance with RFC 7427 and RFC 8247</a><br/>
    <a href='/Completed-Projects/2018-RFC-7427---Add-ECDSA-Signature-Authentication-Support-to-IKEv2'>2018 RFC 7427   Add ECDSA Signature Authentication Support to IKEv2</a><br/>
    <a href='/Completed-Projects/2018-RFC-5685---Redirect-Mechanism'>2018 RFC 5685   Redirect Mechanism</a><br/>
    <a href='/Completed-Projects/2018-Managing-Interface'>2018 Managing Interface</a><br/>
    <a href='/Completed-Projects/2017-TCP-encapsulation-of-IKE-and-IPsec'>2017 TCP encapsulation of IKE and IPsec</a><br/>
    <a href='/Completed-Projects/2017-RFC-7427---Add-Signature-Authentication-Support-to-IKEv2'>2017 RFC 7427   Add Signature Authentication Support to IKEv2</a><br/>
    <a href='/Completed-Projects/2017-Postquantum-Preshared-Keys'>2017 Postquantum Preshared Keys</a><br/>
  </small>
</details>

<a href='/IRC'>IRC</a><br/>

<details>
  <summary>
    Hacking
  </summary>
  <small>
    <a href='/Hacking/Documentation'>Documentation</a><br/>
    <a href='/Hacking/Git,-GitHub,-and-Pull-Requests'>Git, GitHub, and Pull Requests</a><br/>
    <a href='/Hacking/Merging-GitHub-Pull-Requests'>Merging GitHub Pull Requests</a><br/>
    <a href='/Hacking/Programming-Conventions'>Programming Conventions</a><br/>
  </small>
</details>

<details>
  <summary>
    <a href='/Testing'>Testing</a>
  </summary>
  <small>
    <a href='/Testing/Docker'>Docker</a><br/>
    <details>
      <summary>
        <a href='/Testing/KVM'>KVM</a>
      </summary>
      <a href='/Testing/KVM/1.-Setup-The-Host'>1. Setup The Host</a><br/>
      <a href='/Testing/KVM/2.-Configure-Testing'>2. Configure Testing</a><br/>
      <a href='/Testing/KVM/3.-Compile-Libreswan'>3. Compile Libreswan</a><br/>
      <a href='/Testing/KVM/4.-Test-Libreswan'>4. Test Libreswan</a><br/>
      <a href='/Testing/KVM/5.-Accessing-The-Console'>5. Accessing The Console</a><br/>
      <a href='/Testing/KVM/6.-Maintenance-and-Internals'>6. Maintenance and Internals</a><br/>
      <a href='/Testing/KVM/Bisecting'>Bisecting</a><br/>
      <a href='/Testing/KVM/Debugging-Pluto'>Debugging Pluto</a><br/>
      <a href='/Testing/KVM/Logging-In-Using-SSH'>Logging In Using SSH</a><br/>
      <a href='/Testing/KVM/Performance'>Performance</a><br/>
      <a href='/Testing/KVM/Running-A-Custom-Kernel'>Running A Custom Kernel</a><br/>
      <a href='/Testing/KVM/Running-A-Single-Test'>Running A Single Test</a><br/>
      <a href='/Testing/KVM/Running-In-The-Background'>Running In The Background</a><br/>
      <a href='/Testing/KVM/Setup-a-Web-Server'>Setup a Web Server</a><br/>
      <a href='/Testing/KVM/Testing-Old-Branches'>Testing Old Branches</a><br/>
      <a href='/Testing/KVM/Updating-Test-Results'>Updating Test Results</a><br/>
    </details>
    <a href='/Testing/Namespace-Magic'>Namespace Magic</a><br/>
    <a href='/Testing/Namespaces'>Namespaces</a><br/>
    <a href='/Testing/Topology'>Topology</a><br/>
  </small>
</details>

<details>
  <summary>
    Internals
  </summary>
  <small>
    <a href='/Internals/3.14-X509'>3.14 X509</a><br/>
    <a href='/Internals/Benchmarking-and-Performance-testing'>Benchmarking and Performance testing</a><br/>
    <a href='/Internals/Cipher-suites-and-algorithm-support'>Cipher suites and algorithm support</a><br/>
    <a href='/Internals/Cloud-OE-ideas'>Cloud OE ideas</a><br/>
    <a href='/Internals/Compiling-with-AddressSanitizer'>Compiling with AddressSanitizer</a><br/>
    <a href='/Internals/Compliance-of-RFC-7427---Signature-Authentication-in-IKEv2'>Compliance of RFC 7427   Signature Authentication in IKEv2</a><br/>
    <a href='/Internals/Coverity'>Coverity</a><br/>
    <a href='/Internals/Cryptographic-Acceleration'>Cryptographic Acceleration</a><br/>
    <a href='/Internals/Developer-links-strongswan-android'>Developer links strongswan android</a><br/>
    <a href='/Internals/Discouraged-or-forbidden-C-functions'>Discouraged or forbidden C functions</a><br/>
    <a href='/Internals/IKEv2-Child-SA'>IKEv2 Child SA</a><br/>
    <a href='/Internals/IKEv2-CP-and-EAP-support'>IKEv2 CP and EAP support</a><br/>
    <a href='/Internals/Introduction'>Introduction</a><br/>
    <a href='/Internals/Libreswan-xfrm-kernel-support'>Libreswan xfrm kernel support</a><br/>
    <a href='/Internals/Logging-cleanup'>Logging cleanup</a><br/>
    <a href='/Internals/New-OE'>New OE</a><br/>
    <a href='/Internals/Pluto'>Pluto</a><br/>
    <a href='/Internals/Pluto-packet-processing'>Pluto packet processing</a><br/>
    <a href='/Internals/Proposed-ipsec-ca-command'>Proposed ipsec ca command</a><br/>
    <a href='/Internals/Retransmit-timings'>Retransmit timings</a><br/>
    <a href='/Internals/Road-Map'>Road Map</a><br/>
    <a href='/Internals/SAref-code'>SAref code</a><br/>
    <a href='/Internals/Setting-up-system-for-debug-logging'>Setting up system for debug logging</a><br/>
    <a href='/Internals/stf-status'>stf status</a><br/>
    <a href='/Internals/Testing-2017-Next-Generation'>Testing 2017 Next Generation</a><br/>
    <a href='/Internals/Unbound'>Unbound</a><br/>
    <a href='/Internals/Uncrustify'>Uncrustify</a><br/>
    <a href='/Internals/Use-Cases-and-Requirements-document-for-ECC-ECDSA-support'>Use Cases and Requirements document for ECC ECDSA support</a><br/>
    <a href='/Internals/Use-Cases-and-Requirements-document'>Use Cases and Requirements document</a><br/>
    <a href='/Internals/XFRM-Interface-Development-Notes'>XFRM Interface Development Notes</a><br/>
    <a href='/Internals/XFRM-pCPU'>XFRM pCPU</a><br/>
    <a href='/Internals/XFRM-pCPU-RSS'>XFRM pCPU RSS</a><br/>
  </small>
</details>

<details>
  <summary>
    Security
  </summary>
  <small>
    <a href='/Security/Crypto-boundary-and-certification'>Crypto boundary and certification</a><br/>
    <a href='/Security/Libreswan-and-Heartbleed'>Libreswan and Heartbleed</a><br/>
    <a href='/Security/Libreswan-and-TunnelCrack'>Libreswan and TunnelCrack</a><br/>
    <a href='/Security/Reporting-a-Vulnerability'>Reporting a Vulnerability</a><br/>
    <a href='/Security/Vulnerabilities'>Vulnerabilities</a><br/>
  </small>
</details>

<details>
  <summary>
    Meetups
  </summary>
  <small>
    <a href='/Meetups/2013-Helsinki'>2013 Helsinki</a><br/>
    <a href='/Meetups/2014-San-Francisco'>2014 San Francisco</a><br/>
    <a href='/Meetups/2014-Toronto'>2014 Toronto</a><br/>
    <a href='/Meetups/2018-Toronto'>2018 Toronto</a><br/>
  </small>
</details>

<details>
  <summary>
    Obsolete HOWTOs
  </summary>
  <small>
    <a href='/Obsolete-HOWTOs/IKEv1-XAUTH-with-FreeOTP-and-FreeIPA'>IKEv1 XAUTH with FreeOTP and FreeIPA</a><br/>
    <a href='/Obsolete-HOWTOs/IKEv1-XAUTH-with-Google-Authenticator-One-Time-Passwords'>IKEv1 XAUTH with Google Authenticator One Time Passwords</a><br/>
    <a href='/Obsolete-HOWTOs/Route-based-VPN-using-VTI'>Route based VPN using VTI</a><br/>
    <a href='/Obsolete-HOWTOs/Testing-Namespace'>Testing Namespace</a><br/>
    <a href='/Obsolete-HOWTOs/VPN-server-for-remote-clients-using-IKEv1-with-L2TP'>VPN server for remote clients using IKEv1 with L2TP</a><br/>
    <a href='/Obsolete-HOWTOs/VPN-server-for-remote-clients-using-IKEv1-XAUTH-with-Certificates'>VPN server for remote clients using IKEv1 XAUTH with Certificates</a><br/>
    <a href='/Obsolete-HOWTOs/VPN-server-for-remote-clients-using-IKEv1-XAUTH-with-PSK'>VPN server for remote clients using IKEv1 XAUTH with PSK</a><br/>
  </small>
</details>

